.wrapper {
  background-color: blueviolet;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
}

.list {
  background: #fff;
}

.idIsLoading {
  width: 55%;
  height: 400px;
  margin: 0 3%;
}
